.card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
}

.title {
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 28px;
  margin-top: var(--mantine-spacing-xs);
}
